#
# This file is intended for local configuration tweaks.
#
# If you would like to publish and share changes made to this file,
# it is recommended to put them into a distro config, or to create
# layer fragments from changes made here.
#
MACHINE ??= "qemux86-64"
OE_FRAGMENTS += "meta-got/yocto/root-login-with-empty-password"
OE_FRAGMENTS += "core/yocto/sstate-mirror-cdn"